header {
	display: none;
}

body {
	background: #6C8BA3;
	margin: 0;
	font-family: 'Trebuchet MS', Arial, sans-serif;
}

ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

section {
	padding: 0 10px;
	line-height: 1.5em;
}

h2 {
	margin: 0;
}

h2, h3 {
	color: #501111;
}

a, a:visited {
	color: #0060C9;
	text-decoration: none;
}

a:hover, a:active {
	color: #084281;
	text-decoration: underline;
}

.main-background {
	background: url("../img/background.png") #6C8BA3 bottom center no-repeat;
	background-attachment: fixed;
	position: fixed;
	overflow: hidden;
	min-height: 230px;
	bottom: 0;
	left: 0;
	top: 0;
	right: 0;
}

.no-js .main-background, .ua-lt-ie9 .main-background {
	overflow: scroll;
}

.ui-navigation-container {
	position: relative;
	width: 100%;
	height: 100%;
}

.menu {
	line-height: 70px;
	position: fixed;
	top: 0;
	background: #202025;
	right: 0;
	left: 0;
	z-index: 100;
}

.menu-list {
	float: right;
}

.menu-list > li {
	float: left;
}


#menu-home {
	float: left;
	width: auto;
}

.menu-link {
	float: left;
	padding: 0 10px;
	width: 90px;
	-webkit-transition: background 1s ease-out;
	-moz-transition: background 1s ease-out;
	-ms-transition: background 1s ease-out;
	-o-transition: background 1s ease-out;
	transition: background 1s ease-out;
	text-align: center;
}

.menu-link, .menu-link:visited {
	color: #B3D1E5;
	text-decoration: none;
}

.menu-link:hover, .menu-link:active {
	color: #6F9CB9;
	text-decoration: underline;
}

.ui-navigation-container > section {
	position: absolute;
	left: 0;
	right: 0;
	height: 100%;
}

.no-js .ui-navigation-container > section {
	position: static;
	height: auto;
	min-height: 100%;
}


.presentation {
	text-align: center;
	width: 500px;
	margin: 100px auto 0 auto;
	background: rgba(255, 255, 255, 0.5);
}

.presentation-name {
	padding-top: 10px;
	font-size: 2em;
	margin: 0;
	line-height: 1.1em;
}

.presentation-description {
	margin-top: 20px;
	font-size: 1.4em;
	line-height: 1.5em;
}

.ui-navigation-container h2 {
	padding-top: 85px;
}

#home {	
	top: 0;
}

#who {
	background: rgba(255, 255, 255, 0.5);
}

#projects {
	background: rgba(204, 185, 165, 0.5);
}

#contact {
	background: rgba(105, 105, 85, 0.5)
}

#who {
	top: 100%;
}

#projects {
	top: 200%;
}

#contact {
	top: 300%;
	text-align: center;
}

#menu-home {
	color: #C49531;
	opacity: 0.0;
	background: url("../img/sprite.png") -408px 0 no-repeat;
	padding-left: 64px;
	-webkit-transition: opacity 0.5s ease-out;
	-moz-transition: opacity 0.5s ease-out;
	-ms-transition: opacity 0.5s ease-out;
	-o-transition: opacity 0.5s ease-out;
	transition: opacity 0.5s ease-out;
}

#menu-home.is-visible {
	opacity: 1.0;
	-webkit-transition: opacity 0.5s ease-in;
	-moz-transition: opacity 0.5s ease-in;
	-ms-transition: opacity 0.5s ease-in;
	-o-transition: opacity 0.5s ease-in;
	transition: opacity 0.5s ease-in;
}

.ui-carousel-container {
	margin: 0 70px;
}

.work-project {
	text-align: center;
	background: rgba(255, 255, 255, 0.5);
	padding: 10px 0;
}

.work-project-cover > img {
	height: 200px;
}

.work-project-title {
	font-size: 1em;
	margin: 0;
}

.work-project-description {
	margin: 3px 0;
	font-size: 0.8em;
	line-height: 1.2em;
}

.contact-list {
	margin: 25px auto;
	width: 290px;
	background: rgba(255,255,255,0.5);
	padding: 10px;
}

.contact:after {
	content: ""; 
   	visibility: hidden;
   	display: block;
   	height: 0;
   	clear: both;
}

.contact-item {
	display: inline-block;
	margin-left: 5px;
	text-align: center;
	-webkit-transition: all .2s ease-in-out;
	-moz-transition: all .2s ease-in-out;
	-ms-transition: all .2s ease-in-out;
	-o-transition: all .2s ease-in-out;
	transition: all .2s ease-in-out;
}

.contact-item:hover {
	-webkit-transform: scale(1.1);
	-moz-transform: scale(1.1);
	-ms-transform: scale(1.1);
	-o-transform: scale(1.1);
	transform: scale(1.1);
}

.contact-item a:hover {
	text-decoration: none;
}

.contact-item:first-child {
	margin-left: 0;
}

.contact-email, .contact-linkedin, .contact-twitter, .contact-cv {
	width: 64px;
	padding-top: 68px;
	text-align: center;
	background: url("../img/sprite.png") no-repeat;
	font-size: 0.8em;
	font-weight: bold;
	display: block;
}

.contact-email {
	background-position: 0 0;
}

.contact-linkedin {
	background-position: -68px 0;
}

.contact-twitter {
	background-position: -136px 0;
} 

.contact-cv {
	background-position: -204px 0;
}

.ui-carousel-prev, .ui-carousel-next {
	width: 64px;
	height: 64px;
	background: url("../img/sprite.png") no-repeat;
	overflow: hidden;
	text-indent: -9999em;
	cursor: pointer;
	z-index: 10;
	margin-top: 100px;
}

.ui-carousel-prev.is-disabled, .ui-carousel-next.is-disabled, 
.ui-carousel-prev:hover.is-disabled, .ui-carousel-next:hover.is-disabled  {
	opacity: 0.5;
	cursor: default;
}

.no-js .ui-carousel-controls {
	display: none;
}

.ui-carousel-prev:hover, .ui-carousel-next:hover {
	opacity: 0.7;
}

.ui-carousel-prev {
	float: left;
	background-position: -272px 0;
}

.ui-carousel-next {
	float: right;
	background-position: -340px 0;
}

#menu-who.is-selected {
	background: #b5c5d1;
	color: black;
} 

#menu-projects.is-selected {
	background: #9ca2a4;
	color: black;
}

#menu-contact.is-selected {
	background: #6a7a7c;
	color: black;
}

#who-experience {
	background: rgba(255, 255, 255, 0.5);
}

#who-experience h3 {
	text-align: center;
	font-size: 2em;
}

.skill-list {
	margin: 0px 20px;
}

.skill-list > li {
	display: inline;
	line-height: 50px;
	padding: 10px;
	font-size: 1em;
}

.skill-list strong {
	font-size: 2em;
}

@media all and (max-width: 500px) {

	body {
		width: auto;
		min-width: 320px;
	}

	.presentation {
		width: auto;
		min-width: 300px;
	}

	#menu-home {
		display: none;
	}

	.menu-list {
		float: left;
	}

	.menu-link {
		padding: 0 5px;
		width: 90px;
	}

	.ui-carousel-prev, .ui-carousel-next {
		margin-top: 0;
		text-indent: 0;
		background: none;
		width: auto;
		height: auto;
		color: #0060C9;
		display: none;
	}

	.ui-carousel-container {
		margin: 0;
		clear: both;
	}


	section p, section li {
		font-size: 0.9em;
		line-height: 1.1em;
		margin: 5px 0;
	}

	.who-experience h3 {
		font-size: 1.2em;
	}

	.skill-list strong {
		font-size: 1.1em;
	}

}

@media all and (max-height: 470px) {
	.work-project-cover > img {
		height: 150px;
	}
}

@media all and (max-height: 420px) {

	.ui-navigation-container h2 {
		padding-top: 10px;
	}

	.main-background {
		right: 120px;
	}

	section p, section li {
		font-size: 0.9em;
		line-height: 1.1em;
		margin: 5px 0;
	}

	.ui-carousel-prev, .ui-carousel-next {
		text-indent: 0;
		background: none;
		width: auto;
		height: auto;
		color: #0060C9;
		display: none;
	}

	.work-project-cover > img {
		height: 90px;
	}

	.menu {
		position: fixed;
		width: 120px;
		top: 0;
		bottom: 0;
		background: #202025;
		right: 0;
		z-index: 100;
		left: initial;
		padding: 0px;
		line-height: 60px;
	}

	.menu-link {
		width: 100px;
	}

	.presentation {
		margin-top: 30px;
	}

	.presentation {
		width: auto;
		min-width: 300px;
		margin: 50px 0 0 0;
	}

	.who-experience h3 {
		font-size: 1.2em;
	}

	.skill-list strong {
		font-size: 1.1em;
	}
}

